@model StoreLocator.Web.Models.LoginViewModel

<br />
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h2 class="mb-10">GBDJB USERS</h2>
                <h4 class="mb-10">WELCOME TO ACCOUNTANCY & CONSULTANCY SERVICES</h4>
            </div>
        </div>
        <br />
    </div>
</section>

<!-- Start discount-section Area -->
<section class="discount-section-area relative section-gap">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row align-items-center justify-content-between no-gutters">
            <div class="col-lg-6 discount-left">
                <h1 class="text-white">Hello!!</h1>
                <p class="text-white">
                    Our Services has a growing reputation as one of the region's most effective accountancy firms for individual clients and businesses.
                </p>
            </div>
            <div class="col-lg-5 discount-right">
                <h4 class="text-white">Welcome to GBDJB consultancy</h4>
                <h4 class="text-white">Login Here</h4>
                @using (Html.BeginForm())
                { 
                <div class="row">
                    <div class="col-lg-12 d-flex flex-column">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control mt-20", placeholder = "User Name", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'User Name'" } })
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                    <div class="col-lg-12 d-flex flex-column">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control mt-20", placeholder = "Password", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'Password'" } })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                    <div class="col-lg-12 d-flex flex-column">
                        @if (@ViewBag.NotValid != null)
                        {
                            <p class="text-white">@ViewBag.NotValid</p>
                        }
                        @if (@ViewBag.ErrorMessage != null)
                        {
                            <p class="text-white">@ViewBag.ErrorMessage</p>
                        }
                    </div>
                    <div class="col-lg-12 d-flex justify-content-end send-btn">
                        <button type="submit" value="Login" class="genric-btn primary mt-20 text-uppercase ">Login</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End discount-section Area -->

