<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>GBDJB</title>
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="header" id="home">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                        <a href="#">+44 (0)7811 368478</a>
                        <a href="#">banwoja@hotmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="~/img/logo.png" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="menu-has-children">
                            @Html.ActionLink("About", "Index", "About")
                            <ul>
                                <li>@Html.ActionLink("History", "History", "About")</li>
                                <li>@Html.ActionLink("Partners", "Partners", "About")</li>
                                <li>@Html.ActionLink("Vacancies", "Vacancies", "About")</li>
                            </ul>
                        </li>
                        <li class="menu-has-children">
                            @Html.ActionLink("Our Services", "Index", "Services")
                            <ul>
                                <li>@Html.ActionLink("Tax Consultancy", "TaxConsultancy", "Services")</li>
                                <li>@Html.ActionLink("Accounting", "Accounting", "Services")</li>
                            </ul>
                        </li>
                        <li class="menu-has-children">
                            @Html.ActionLink("News", "Index", "News")
                            <ul>
                                <li>@Html.ActionLink("Links", "Links", "News")</li>
                            </ul>
                        </li>
                        <li class="menu-has-children">
                            @Html.ActionLink("Contact", "Index", "Contact")
                            <ul>
                                <li>@Html.ActionLink("Legal Notice", "LegalNotice", "Contact")</li>
                            </ul>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Login", "Login", "Home")</li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("User Home", "Home", "Home")</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Home")</li>                            
                        }

                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <br />
                    <h6 class="text-uppercase text-white">Don’t look further, This is the Place for</h6>
                    <br />
                    <h2 class="text-white">
                        ACCOUNTANCY & CONSULTANCY PROFESSIONAL SERVICES
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    @RenderBody()

    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Navigation Links</h6>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "Index", "About")</li>
                                    <li>@Html.ActionLink("History", "History", "About")</li>
                                    <li>@Html.ActionLink("Partners", "Partners", "About")</li>
                                    <li>@Html.ActionLink("Vacancies", "Vacancies", "About")</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>@Html.ActionLink("Our Services", "Index", "Services")</li>
                                    <li>@Html.ActionLink("Tax Consultancy", "TaxConsultancy", "Services")</li>
                                    <li>@Html.ActionLink("Accounting", "Accounting", "Services")</li>
                                    <li>@Html.ActionLink("News", "Index", "News")</li>
                                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Address</h6>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li>GBDJB Accountancy & Consultancy Services</li>
                                    <li>10 Brooklyn House,</li>
                                    <li>31 Rillaton Walk</li>
                                    <li>Milton Keynes</li>
                                    <li>MK9 2BN</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Office Hours</h6>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li>Mon to Fri 9am to 6 pm</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>

</body>
</html>
